body, .mainDiv, .display, .clear, .container, .numbers, .operators, .digit, .operator, .ac {
    display: flex;
}

body, .display, .digit, .operator, .ac {
    justify-content: center;
    align-items: center;
}

.display, .digit, .operator, .ac {
    border: 1px solid black;
    border-radius: 15px;
}

.mainDiv, .display, .clear {
    justify-content: end;
}

.display, .digit, .operator, .ac {
    box-sizing: border-box;
    font-size: 4em; 
}

html, body, .display, .clear, .container, .operator {
    width: 100%;
}

.operators, .ac {
    width: 25%;
}

.display, .clear {
    height: 15%;
}

html, body, .numbers, .operators, .ac {
    height: 100%;
}

.digit, .operator {
    height: 25%;
}

.mainDiv, .digit {
    width: 33%;
}

.digit, .operator, .ac{
    cursor: pointer;
}

.digit:hover, .operator:hover, .ac:hover{
    background-color: lightgray;
}

.digit:active, .operator:active, .ac:active{
    background-color: gray;
}

html, body {
    padding: 0;
    margin: 0;
}

.mainDiv {
    height: 90%;
    flex-direction: column;
}

.display {
    margin-bottom: 1%;
}

.container {
    height: 60%;
}

.numbers {
    width: 75%;
    flex-wrap: wrap-reverse;
}

.operators {
    flex-wrap: wrap;
}